Рекомендации ниже являются выдержкой из личного блога.

Использование Git для 3D-игр
Примечание: Не так давно GitHub выпустил плагин для Git под названием Git LFS, позволяющий решить описанную проблему. Теперь вы можете легко и эффективно осуществлять контроль версий для объемных бинарных файлов!

Git прекрасно работает с 3D-играми, за исключением одного: сохранение версий больших (>5 MB) медиафайлов на протяжении длительного времени (при обновлении архивов версий) может быть проблематичным. Эту проблему мы решили в наших проектах фиксацией только тех бинарных файлов, которые считаются окончательными. Наши 3D-художники используют Dropbox для работы с WIP — и по вышеуказанной причине, и потому, что это намного быстрее и проще (не многие художники горят желанием работать с Git!).

Процедура работы с Git
Конкретная процедура работы с Git в большей степени зависит от ваших собственных предпочтений, а также опыта и традиций вашей командной работы. Тем не менее, я бы настоятельно рекомендовал методологию с «говорящим» названием «Git Flow» в оригинальной версии автора.

Я не буду чересчур углубляться в суть методологии, поскольку автор прекрасно её описал – к тому же, без лишней «воды», поэтому в ней нетрудно разобраться. Я уже какое-то время использую этот метод для своей команды и на данный момент это лучшая методология из всех нами испробованных.

Клиентское приложение Git GUI
Это, на самом деле, из области личных предпочтений, поскольку в том, что касается графического интерфейса для Git, возможность выбора есть, включая выбор того, использовать ли графический интерфейс вообще. Спешу предложить бесплатное приложение SourceTree, поскольку оно отлично сочетается с расширением Git Flow. В руководстве по SourceTree вы можете прочесть о реализации методологии Git Flow в рамках этого приложения.

Что игнорировать в Unity3D при работе с Git
# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db